  /*Media запросы CSS для адаптации страницы*/
@media screen and (max-width: 1139px) 
{
 .Mcontainer{width: auto;}
}    
@media screen and (max-width: 820px) 
{
 .Mcontainer{height: 1500px;}
 .container1{height: 21%;}
 .container2{height: 23%;}
   .container2_1{height: 15%;}
   .container2_2{height: 85%;}
   .container2_3{height: 50%;
                 width: 50%;}
 .container3{height: 32%;}
 .container33{height: 20%;}
 .container4{height: 4%;}
 }
@media screen and (max-width: 768px) 
{
  .Mcontainer{height: 1850px;}
  .container1{height: 18%;}
  .container2{height: 19%;}
  .container3{height: 42%;}
  .container33{height: 16%;}
  .container4{height: 5%;} 
  .container1_1{padding-bottom: 0px;
 justify-content: space-around;} 

}
@media screen and (max-width: 576px) 
{
 .Mcontainer{height: 2475px;}
 .container1{height: 23%;
    flex-direction: column;
	align-items: center;}
   .container1_1{
      padding-bottom: 0px;
      width: 100%;
      height: 50%;
      align-items: center;}	
   .container1_2{
      align-items: center;
      height: 50%;}
 .container2{height: 26%;}
    .container2_1{height: 10%;}
    .container2_2{height: 90%;}
    .container2_3{height: 33%;
                 width: 100%;}
 .container3{height: 34%;}
 .container33{height: 14%;}
 .container4{height: 3%;}
}