body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
}

p {
	line-height: 1.3em;
}

.Mcontainer{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 1140px;
  height: 1500px;
  justify-content: start;
  margin-left: auto;
  margin-right: auto; 
  align-items: center; 
}  
.container1{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 22%;
  background-color: #3498db;
  justify-content: space-around;
}
.container2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 18%;
  background-color: white;
}
.container3{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 30%;
  align-items: center;
  background-color: rgb(191, 204, 207);
  justify-content: space-evenly;
}
.container33{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 26%;
  align-items: center;
  background-color: rgb(191, 204, 207);
  justify-content: space-evenly;
}
.container4{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 4%;
  background-image: linear-gradient(to bottom, blue, #3498db);
  align-items: center;
  justify-content: center;
}
.container1_1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-between;
  padding-bottom: 70px;
  width: 40%;
}
.container1_2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
.container2_1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}
.container2_2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 70%;
}
.container2_3{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 33%;
  height: 100%;
}

.wrapper {
    margin: auto;
    width: 100%;
    min-height: 100%;
    padding-top: 50px;
    /*background-color: rgb(128, 128, 128);*/
    padding: 10px;
}

#form {
    width: 100%;
    margin: auto;
}


.text {
    width: 70%;
    height: 40px;
    text-align: center;
    font-size: 1.1em;
}

.order {
    padding-top: 20px;
}

#sendOrder {
    width: 150px;
    height: 40px;
    background-color: rgb(248, 146, 38);
    text-align: center;
    padding-top: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    display: block;
    margin: auto;
}

#sendOrder:hover {
    cursor: pointer;
}

.orderInfo {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding: 10px;
}

.orderSummary {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding: 10px;
}

/* Применяем анимацию к изображению */
.animated-image1 {
  /* Свойства, описывающие анимацию */
  animation-name: rotate1AndFade; /* Название анимации из @keyframes */
  animation-duration: 4s;      /* Продолжительность одного цикла */
  animation-timing-function: ease-in-out; /* Функция плавности */
  animation-iteration-count: infinite; /* Количество повторений */
}

/* Применяем анимацию к изображению */
.animated-image2 {
  /* Свойства, описывающие анимацию */
  animation-name: rotate2AndFade; /* Название анимации из @keyframes */
  animation-duration: 4s;      /* Продолжительность одного цикла */
  animation-timing-function: ease-in-out; /* Функция плавности */
  animation-iteration-count: infinite; /* Количество повторений */
}

.image-container {
  /* Просто для размещения картинки */
  width: 41px;
  height: 40px;
  overflow: hidden;
}

.animated-image3 {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Анимация трансформации и прозрачности */
}

.animated-image3:hover {
  transform: scale(1.2); /* Увеличить картинку на 20% */
  opacity: 0.7; /* Сделать картинку полупрозрачной */
}

.animated-image4 {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Анимация трансформации и прозрачности */
}

.animated-image4:hover {
  transform: scale(0.8); /* Уменьшить картинку на 20% */
  opacity: 0.7; /* Сделать картинку полупрозрачной */
}

/* Правило @keyframes для анимации телефона*/
@keyframes rotate1AndFade {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

/* Правило @keyframes для анимации флажка*/
@keyframes rotate2AndFade {
  0% {
    transform: rotate(360deg);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}